/* POLICE */
@font-face {
    font-family: Montserrat regular;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
    font-family: Raleway regular;
    src: url('../fonts/Raleway/static/Raleway-Regular.ttf');
}

/* COMMON STYLES */
*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    /* A changer par notre charte graphique */
    --clr-text : #000000;
    --clr-accent: #fdc05d;
    --clr-background: #dadada;
    --clr-grey: #ebebeb;
    --clr-green: #20b708;
    --clr-orange: #e59000;
    --clr-red: #c91515;
    --clr-white: #ffffff;

    width: 100%; height: 100%;
    font-family: "Raleway regular", sans-serif;
    font-size: 18px;
    color: var(--clr-text);
    background-color: var(--clr-white);
    scroll-behavior: smooth;
}
body {
    margin: unset;
    padding: unset;
}
main:not(.connexion):not(.creation) {
    margin-top: 6em;
    display: grid;
    grid-template-columns: .85fr minmax(600px, 3fr) .85fr;
}
main:not(.connexion):not(.creation) section {
    grid-column: 2;
}
.creation, .connexion {
    display: flex;
    justify-content: space-evenly;
}
main a {
    text-decoration: underline var(--clr-accent);
    text-decoration-thickness: 2px;
}
p {
    margin-block-start: 0;
    margin-block-end: 0;
}
a {
    color: var(--clr-text);
    text-decoration: none;
}
input[type=submit] {
    cursor: pointer;
}
button[type=button] {
    background-color: var(--clr-grey);
    font-family: "Raleway regular", sans-serif;
    font-size: 1em;
    padding: 1em 2em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* HEADER */
header {
    background-color: var(--clr-accent);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
    width: 100%; height: 4em;
    margin-bottom: 5em;
    padding: 0 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    margin: unset;
}
header a {
    color: var(--clr-text);
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}
header a::after {
    content: '';
    background: var(--clr-text);
    width: 100%;
    height: 4.5px;
    display: block;
    position: absolute;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}
header a:hover::after {
    transform: scale(1,1);
}

/* FOOTER */
footer {
    background-color: var(--clr-accent);
    width: 100%; height: 3em;
    margin-top: 2em;
}

/* CONNEXION */
.connexion h2 {
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 1.5em;
}
.connexion section {
    background-color: var(--clr-grey);
    border-radius: 20px;
    text-align: center;
    padding: 0 5em;
}
.connexion section > *:not(:first-child) {
    margin: 2em 0;
}
.connexion form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.connexion form > *:not(:first-child) {
    margin: .5em 0;
}
.connexion form input {
    font-family: "Raleway regular", sans-serif;
    font-size: 1em;
    width: 258px; height: 41px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 10px;
    fill: #ffffff;
    stroke-width: 1;
}
.connexion form i {
    position: relative;
    top: -46px;
    right: -102px;
}
.connexion .forgot-pwd {
    font-size: 0.7em;
    align-self: flex-start;
}
.connexion form input[type=submit] {
    background-color: var(--clr-accent);
    font-size: 1.4em;
    margin-top: 4em;
    margin-bottom: unset;
    border: none;
    border-radius: unset;
}
.connexion aside {
    color: var(--clr-accent);
    text-shadow: var(--clr-text) 0 0 1px;
    font-size: 1.8em;
    font-weight: bold;
    width: 500px;
    text-align: center;
}

/* CREATION DE COMPTE */
.creation h2 {
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 1.5em;
}
.creation section {
    background-color: var(--clr-grey);
    width: 720px; height: 620px;
    border-radius: 20px;
    text-align: center;
    padding: 0 5em;
}
.creation section > *:not(:first-child) {
    margin: 2em 0;
}
.creation form {
    width: 100%; height: 100%;
    padding: 40px 50px 100px 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    row-gap: .5em;
}
.creation form input, .input-pwd {
    font-family: "Raleway regular", sans-serif;
    font-size: 1em;
    width: 400px; height: 40px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 10px;
    fill: #ffffff;
    stroke-width: 1;
}
.container-pwd {
    width: 400px; height: 40px;
    display: flex;
    justify-content: space-between;
}
.creation .container-pwd input {
    width: calc(400px / 2 - 10px);
}
.container-pwd span i {
    position: relative;
    top: -29px;
    right: -73px;
}
.creation form input[type=submit] {
    background-color: var(--clr-accent);
    font-size: 1.4em;
    margin-bottom: unset;
    border: none;
    border-radius: unset;
}
.creation aside {
    font-size: 1.8em;
    width: 500px;
    text-align: center;
}


/* STYLES PROPRE A CHAQUE PAGE */
.container-resultats i {
    cursor: pointer;
}
.admin .container-resultats td i {
    color: var(--clr-red);
}
.cdg .container-resultats td i {
    color: var(--clr-orange);
}
.tableau-sans-option {
    border: 1px solid var(--clr-accent);
}
.tableau-sans-option th {
    background-color: var(--clr-accent);
}
.tableau-sans-option tr:nth-of-type(2n) {
    background-color: var(--clr-grey);
}


/* STYLES COMMUN POUR LES BLOCS RECHERCHE / TABLEAU DE TOUTES LES PAGES */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.separateur {
    grid-column: 1/4;
    width: 100%; height: 1px;
    border: none;
    margin-top: 1em;
    box-shadow: 0 5px 6px 0 rgb(137 137 137), 0 2px 2px 0 rgb(0 0 0 / 24%);
}


.container-graphique {
    margin-bottom: 3em;
}
.graphique {
    background-color: cyan;
    width: 675px; height: 300px;
}


.container-recherche > * {
    margin-bottom: 1em;
}
.container-recherche input {
    font-family: "Raleway regular", sans-serif;
    font-size: 1em;
    padding-left: 10px;
    border: 1px solid black;
    fill: var(--clr-white);
}


.container-recherche .affichage {
    width: 100%; height: 2em;
    margin-bottom: 3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container-recherche .affichage .current-display {
    background-color: var(--clr-accent);
}


.container-recherche .recherche {
    width: 100%; height: 2em;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.container-recherche .recherche input {
    width: 80%; height: 100%;
    border-radius: 10px 0 0 10px;
}
.container-recherche .recherche select {
    width: 20%; height: 100%;
    border-radius: 0 10px 10px 0;
    border-left: inherit;
}
.container-recherche button:not([type=button]) {
    font-family: "Raleway regular", sans-serif;
    font-size: 1em;
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
    fill: #ffffff;
    width: auto;
    display: block;
    margin: 0 auto 0;
}
.container-recherche .filtres {
    display: none;
    background-color: var(--clr-grey);
    padding: 1em 3em;
    border: 1px solid black;
    border-radius: 10px;
}
.container-recherche .filtres div:not(:first-of-type) {
    margin-top: 2em;
}
.container-recherche .filtres p {
    text-decoration: underline var(--clr-accent);
    text-decoration-thickness: 2px;
    margin-bottom: .5em;
}


.container-ajouter {
    margin: 3em 0 1em 0;
}
.container-ajouter div {
    width: 13em; height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-ajouter a {
    font-size: 1em;
    background-color: var(--clr-grey);
    text-decoration: unset;
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 10px;
}


.container-resultats {
    margin: 1em 0 5em 0;
    row-gap: 2em;
}
.container-resultats .divers {
    width: 100%;
    display: flex;
    justify-content:space-evenly;
}
.container-resultats button {
    font-family: "Raleway regular", sans-serif;
    font-size: 1em;
    background-color: var(--clr-accent);
    border: 1px solid black;
    border-radius: 5px;
}
.container-resultats select {
    font-family: "Raleway regular", sans-serif;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 5px;
}
.container-resultats .divers div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    column-gap: 3px;
}
.container-resultats table {
    display: none;
    margin: 0 auto;
    table-layout: fixed;
    border-collapse: collapse;
}
.container-resultats table:first-of-type {
    display: table;
}
.container-resultats th, .container-resultats td {
    padding: 16px 15px;
    width: 14em;
}
.container-resultats tr :not(:first-child) {
    text-align: center;
}
.container-resultats table:not(.tableau-sans-option) th:first-of-type, .container-resultats table:not(.tableau-sans-option) td:first-of-type {
    border-left: 1px solid var(--clr-accent);
}
.container-resultats table:not(.tableau-sans-option) tr:last-of-type td:not(:last-of-type) {
    border-bottom: 1px solid var(--clr-accent);
}
.container-resultats table:not(.tableau-sans-option) tr td:nth-last-child(2) {
    border-right: 1px solid var(--clr-accent);
}
.container-resultats table:not(.tableau-sans-option) th:last-of-type, .container-resultats table:not(.tableau-sans-option) td:last-of-type {
    border: none;
    width: auto;
}
.container-resultats table:not(.tableau-sans-option) th:not(:last-of-type) {
    background-color: var(--clr-accent);
}
.container-resultats table:not(.tableau-sans-option):not(.tableau-simple) tr:nth-of-type(4n+1) td:not(:last-of-type) {
    background-color: var(--clr-grey);
}
.container-resultats .tableau-simple tr:nth-of-type(2n) td:not(:last-of-type) {
    background-color: var(--clr-grey);
}
.container-resultats .container-sous-tableau {
    /*display: none;*/
}
.container-resultats #sous-tableau {
    font-size: .8em;
    padding: 0;
    border: 1px solid var(--clr-orange);
}
.container-resultats #sous-tableau th {
    background-color: #fdc05d70;
    padding: 0.5em;
}
.container-resultats #sous-tableau td {
    background-color: #dbdbdb;
    font-size: 1em;
    border: unset;
}
.container-resultats #btn-tableau-1 {
    background-color: var(--clr-white);
    border: none;
}


.container-export {
    row-gap: 1em;
}